a.button {
  width: 60%;
  height: 40px;
  background: whitesmoke;
  color: black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  transition: all .5s ease;
  text-decoration: none
  }
a.button:hover {
  background: gold;
  box-shadow: -5px -5px 15px 5px rgba(244, 243, 41, 0.8), 5px 5px 15px 7px gold;
  letter-spacing: 2px;
    font-size: 26px
}
  a.button:active {
  letter-spacing: 2px;
    font-size: 26px
}
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
body {
  font-family: Reem Kufi;
  padding: 0;
  margin:0;
  box-sizing: border-box;
  background: gray;
  height: 604px;
  }

.banner {
  background: #1A94DA;
  border-radius: 15px;
  width: 504px;
  height: 706px;
  margin: 14px 7px
  }

.banner h1 {
  font-size: 45px;
  font-weight: 500; 
  color: black;
  padding: 10px
  }

.items {
  flex-direction: column;
  margin-top: 3rem
  }
.items a {
  margin: 1rem; 
  color: #333
  }